<br />
<div class="container placeholder col-6 w-75">
  <h2>Envíanos un mensaje!</h2>

  <%= simple_form_for(@message) do |m| %>
<div class="form-group">
    <div class="form-inputs">
      <%= m.input :user,
                  placeholder: 'Asunto',
                  required: false,
                  label: false,
                  autofocus: true,
                  class: 'form-control' %>
      <%= m.input :name,
                  required: false,
                  placeholder: 'Tu nombre',
                  label: false,
                  class: 'form-control' %>
      <%= m.input :email,
                  required: false,
                  placeholder: 'Tu correo electrónico',
                  label: false,
                  class: 'form-control' %>
      <%= m.input :phone,
                  required: false,
                  placeholder: 'Tu numero telefónico o celular',
                  label: false,
                  class: 'form-control' %>
      <%= m.input :message,
                  required: false,
                  placeholder: 'Tu mensaje',
                  label: false,
                  class: 'form-control' %>
      </div>

    <div class="form-actions">
      <%= m.button :submit, "Enviar mensaje", class: 'btn-primary' %>
    </div>
    </div>
  <% end %>
</div>
<br />