<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
       <h3 class="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <% if @category.nil? %>
    <h3 class="mb-0">Todas las categorias</h3>
    <% else %>
    <h3 class="mb-0">Lotes de productos en categoria<%= @category %>'</h3>
    <% end %>
  </div>
  <div class="allotment-container">
    <% @allotments.each do |allotment| %>
      <div class="">
        <%= link_to allotment_path(allotment), class:'text-decoration-none' do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= allotment.image_url %>)">
      
            <%= allotment.name %>
            <% if allotment.image_url.nil? %>
                <%= image_tag ("") %>
                              
              <% end %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<style>.allotment-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
</style>