<h1> Producto : <%= @allotment.name %> </h1>
<p> Fecha de expiracion: <%= @allotment.expire_date %> </p>
<p> Total: <%= @allotment.total %> </p>

<h4> Lista de ofertas </h4>
    <% @allotment.offers.where(status: "active").each do |offer| %>
        <h1><%= offer.coupon %></h1>
        <%= link_to "Generar Cupón", offer_purchases_path(offer), method: :post %>
    <%end %>

