<br />

<div class="container">
  <div class="card-section">
    <img src= "<%= (@allotment.image_url)%>"/>
    <div class="card-section-infos">
      <h3>Producto : <%= @allotment.name %> en <%= @allotment.category %></h3>
      <p>Fecha de expiracion: <%= @allotment.expire_date %></p>
      <p> Total: <%= @allotment.total %> </p>
      <h1> Ofertas de <%= @allotment.name %></h1>
      
      <br />

      <%= link_to "Cupones", image_url="https://res.cloudinary.com/dsmtchuwt/image/upload/v1632511174/Naranja_Verde_Tropical_Verano_de_Temporada_Cup%C3%B3n_btr5ps.jpg" , class: "btn btn-flat", target: "_blank" %>
     
    </div>
  </div>
</div>  


        
    

    <% @allotment.offers.where(status: "active").each do |offer| %>
        <h1><%= offer.coupon %></h1>
        <%= link_to "Generar Cupón", offer_purchases_path(offer), method: :post %>
    <% end %>


</div>

