<div class="container">

<h2> Producto : <%= @allotment.name %> en <%= @allotment.category %> </h2>


<p> Fecha de expiracion: <%= @allotment.expire_date %> </p>
<p> Total: <%= @allotment.total %> </p>

<h3> Ofertas de <%= @allotment.name %></h3>
        <p>Cupones </p>
    <% @allotment.offers.each do |offer| %>
        <%= link_to offer.coupon, allotment_offer_path(@allotment, offer) %>
    <% end %>

    <% @allotment.offers.where(status: "active").each do |offer| %>
        <h1><%= offer.coupon %></h1>
        <%= link_to "Generar Cupón", offer_purchases_path(offer), method: :post %>
    <% end %>


</div>

