<h1> Producto : <%= @allotment.name %> en <%= @allotment.category %> </h1>
<p> Fecha de expiracion: <%= @allotment.expire_date %> </p>
<p> Total: <%= @allotment.total %> </p>

<h3> Ofertas de <%= @allotment.name %></h3>
    <% @allotment.offers.each do |offer| %>
        <h4>Cupon <%= offer.coupon %></h4>
        <%= link_to "Detalle de la oferta", allotment_offer_path(@allotment, offer) %>
    <%end %>

